/DietInfoProcessing/.vs/DietProcessing/FileContentIndex/2ddef9b8-a9c8-4dcf-86cb-9e79893d1271.vsidx
/DietInfoProcessing/.vs/DietProcessing/v17/Browse.VC.db
/DietInfoProcessing/.vs/DietProcessing/v17/Browse.VC.db-shm
/DietInfoProcessing/.vs/DietProcessing/v17/Browse.VC.db-wal
/DietInfoProcessing/.vs/DietProcessing/v17/Browse.VC.opendb
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.Build.CppClean.log
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.exe.recipe
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.ilk
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.log
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.obj
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/CL.command.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/Cl.items.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/CL.read.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/CL.write.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/DietProcessing.lastbuildstate
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/link.command.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/link.read.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/link.secondary.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.tlog/link.write.1.tlog
/DietInfoProcessing/DietProcessing/x64/Debug/DietProcessing.vcxproj.FileListAbsolute.txt
/DietInfoProcessing/DietProcessing/x64/Debug/FoodInfoBase.obj
/DietInfoProcessing/DietProcessing/x64/Debug/FoodInfoDbBase.obj
/DietInfoProcessing/DietProcessing/x64/Debug/FoodInfoHandler.obj
/DietInfoProcessing/DietProcessing/x64/Debug/tinyxml2.obj
/DietInfoProcessing/DietProcessing/x64/Debug/vc143.idb
/DietInfoProcessing/DietProcessing/x64/Debug/vc143.pdb
/DietInfoProcessing/x64/Debug/DietProcessing.pdb
/DietInfoProcessing/x64/Debug/DietProcessing.exe
